body {
	margin: 0;
	padding: 0;
	font-family: 'Asap', sans-serif;
}

.header{
	padding: 8px 0;
}

.Background-image{
	background-image: url('1670_760.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 768px;
}

.container{
	width: 65%;
	margin: auto;
}

.login-area{
	width: 80%;
	float: left;
	color: #33FFB5;
}

.login-area form {
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}

.login-area label,
.login-area input{
	display: block;
}

.login-area .email,
.login-area .password,
.login-area .login{
	float: left;
	margin-right: 15px;
}

.login-area label{
	font-size: 14px;
	margin-bottom: 5px;
}

.login-area .login{
	margin-right: 0;
}

.login-area input [type="text"],
.login-area input [type="password"]{
	box-sizing: border-box;
	font-size: 30px;
	font-weight: 600;
	padding: 200px 5px;
	border: 5px solid #FF7C00;
	border-radius: 12px;

}

.login-area .password a{
	text-decoration: none;
	color: #9F33FF;
	font-size: 12px;
}

.login-area .password a:hover{
	text-decoration: underline;
}

.login-area input[type="submit"]{
	background-color: #4267b2;
	border-color: #29487d;
	color: #FF0000;
	padding: 3px 8px;
	margin-top: 20px;
}

/*End Header Area*/

.signup-area{
	width: 45%;
	float: right;
	margin-top: 140px;
}

.signup-area h2{
	font-size: 33px;
	color: #00FFF3;
	margin: 0;

}

.signup-area h4{
	font-size: 20px;
	color: #00FFE8;
	margin: 0;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 10px;
}

.signup-area input[type="text"],
.signup-area input[type="password"]{
	width: 100%;
	box-sizing: border-box;
	border: 5px solid #FF7C00;
	border-radius: 12px;
	padding: 8px 10px;
	font-size: 20px;
	margin: 5px 0;
}

.full-name{
	overflow: hidden;

}

.first-name{
	width: 48%;
	margin-right: 4%;
	float: left;
}

.surname{
	width: 48%;
	float: left;
}

.birthday h4{
	margin-top: 0 ;
	margin-bottom: 5px;
}

.birth-date	{
	overflow: hidden;
	float: left;
	margin-right: 10px;
	width: 200px;
}
.birth-date select {
	border: 2px solid #FF7C00;
	padding: 5px;
	float: left;
}



.gender label{
	float: none;
	font-size: 24px;
	font-weight: 600;
	color: #00FFF7;
}
.btn{
	margin-top: 20px;
}

.btn input {
	background: linear-gradient(#67ae55, #578842);
	box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
	border-width: 5px;
	border-style: solid;
	padding: 7px 24px;
	min-width: 194px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	font-weight: 600;
	font-size: 16px;
	transition: 0.5s;
}

.btn input:hover {
	background: linear-gradient(#578842, #578842);
	cursor: pointer;
}

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;

    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
